In [7]:
import pandas as pd

# 1. Loading Data

In [12]:
emotions_df = pd.read_csv("./datasets/emotions/text.csv")
emotions_df.head()

   Unnamed: 0                                               text  label
0           0      i just feel really helpless and heavy hearted      4
1           1  ive enjoyed being able to slouch about relax a...      0
2           2  i gave up my internship with the dmrg and am f...      4
3           3                         i dont know i feel so lost      0
4           4  i am a kindergarten teacher and i am thoroughl...      4

In [13]:
violence_df = pd.read_csv("datasets/gender_violence/train.csv")
violence_df.head()

,Tweet_ID,tweet,type
0,ID_0022DWKP,Had a dream i got raped last night. By a guy i...,sexual_violence
1,ID_00395QYM,he thought the word raped means sex and told m...,sexual_violence
2,ID_003EOSSF,She NOT TALKING TO ME I WAS RAPED BY 2 MEN 1 M...,sexual_violence
3,ID_004BBHOD,I was sexually abused for 3 years at age 4 to ...,sexual_violence
4,ID_004F7516,Chessy Prout can do better by telling the trut...,sexual_violence

In [14]:
hate_df = pd.read_csv("datasets/Hate_speech/labeled_data.csv")
hate_df.head()

,Unnamed: 0,count,hate_speech,offensive_language,neither,class,tweet
0,0,3,0,0,3,2,!!! RT @mayasolovely: As a woman you shouldn't...
1,1,3,0,3,0,1,!!!!! RT @mleew17: boy dats cold...tyga dwn ba...
2,2,3,0,3,0,1,!!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...
3,3,3,0,2,1,1,!!!!!!!!! RT @C_G_Anderson: @viva_based she lo...
4,4,6,0,6,0,1,!!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...

# 2. Data Preprocessing

In [15]:
emotions_df.drop(columns='Unnamed: 0', inplace=True)
violence_df.drop(columns='Tweet_ID', inplace=True)
hate_df.drop(columns=['Unnamed: 0','count',	'hate_speech',	'offensive_language',	'neither'], inplace=True)

In [19]:
emotions_df.head()

                                                text  label
0      i just feel really helpless and heavy hearted      4
1  ive enjoyed being able to slouch about relax a...      0
2  i gave up my internship with the dmrg and am f...      4
3                         i dont know i feel so lost      0
4  i am a kindergarten teacher and i am thoroughl...      4

In [20]:
violence_df.head()

                                               tweet             type
0  Had a dream i got raped last night. By a guy i...  sexual_violence
1  he thought the word raped means sex and told m...  sexual_violence
2  She NOT TALKING TO ME I WAS RAPED BY 2 MEN 1 M...  sexual_violence
3  I was sexually abused for 3 years at age 4 to ...  sexual_violence
4  Chessy Prout can do better by telling the trut...  sexual_violence

In [21]:
hate_df.head()

   class                                              tweet
0      2  !!! RT @mayasolovely: As a woman you shouldn't...
1      1  !!!!! RT @mleew17: boy dats cold...tyga dwn ba...
2      1  !!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...
3      1  !!!!!!!!! RT @C_G_Anderson: @viva_based she lo...
4      1  !!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...

# Renaming Columns

In [22]:
violence_df.rename(columns={'tweet':'text','type':'label'},inplace=True)
hate_df.rename(columns={'tweet':'text','class':'label'},inplace=True)

In [25]:
hate_df.columns, violence_df.columns,emotions_df.columns

(Index(['label', 'text'], dtype='object'),
 Index(['text', 'label'], dtype='object'),
 Index(['text', 'label'], dtype='object'))

# Checking Null Values

In [30]:
emotions_df.isna().sum()

text     0
label    0
dtype: int64

In [31]:
violence_df.isna().sum()

text     0
label    0
dtype: int64

In [32]:
hate_df.isna().sum()

label    0
text     0
dtype: int64

In [33]:
emotions_df.shape, violence_df.shape,hate_df.shape

((416809, 2), (39650, 2), (24783, 2))

In [36]:
emotions_df.groupby('label').count()

         text
label
0      121187
1      141067
2       34554
3       57317
4       47712
5       14972

In [41]:
emotions_df[emotions_df.label==0].sample(12000)

                                                     text  label
199524  i also like to knit but dont do it as intensel...      0
131723  i feel very isolated from most of the black pe...      0
184760  i wasn t sleeping school stresses were pouring...      0
397587  i just have to figure out how to ask in a way ...      0
118140  i feel like crud lemme just share all of the u...      0
...                                                   ...    ...
83159                   i am allowed to feel hurt and sad      0
360695         i don t feel drained by social experiences      0
134808  i was feeling melancholy and couldnt quite fig...      0
287122                 i still cant help but feel useless      0
375458  i cant help but feel somewhat heartbroken by t...      0

[12000 rows x 2 columns]

In [42]:
e_df = pd.DataFrame()
for i in range(0,6):
    sample_df = emotions_df[emotions_df.label==i].sample(n=2000,random_state=42)
    e_df = pd.concat([e_df,sample_df])

In [43]:
e_df.groupby('label').count()

       text
label
0      2000
1      2000
2      2000
3      2000
4      2000
5      2000

In [45]:
emotions_df = e_df.copy()
emotions_df.shape

(12000, 2)

In [46]:
violence_df.groupby('label').count()

                               text
label
Harmful_Traditional_practice    188
Physical_violence              5946
economic_violence               217
emotional_violence              651
sexual_violence               32648

In [50]:
12000-violence_df[violence_df.label!='sexual_violence'].shape[0]

4998